<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Guide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,120}</string>
                <key>spriteSourceSize</key>
                <string>{262,120}</string>
                <key>textureRect</key>
                <string>{{135,1367},{262,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,69}</string>
                <key>spriteSourceSize</key>
                <string>{272,73}</string>
                <key>textureRect</key>
                <string>{{209,1800},{268,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Progressbar_exc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,63}</string>
                <key>spriteSourceSize</key>
                <string>{38,63}</string>
                <key>textureRect</key>
                <string>{{448,972},{38,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Progressbar_lable_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,138}</string>
                <key>spriteSourceSize</key>
                <string>{224,138}</string>
                <key>textureRect</key>
                <string>{{325,1049},{224,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Progressbar_lable_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,138}</string>
                <key>spriteSourceSize</key>
                <string>{224,138}</string>
                <key>textureRect</key>
                <string>{{322,1275},{224,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Progressbar_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,45}</string>
                <key>spriteSourceSize</key>
                <string>{38,45}</string>
                <key>textureRect</key>
                <string>{{448,932},{38,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_Stone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,64}</string>
                <key>spriteSourceSize</key>
                <string>{72,64}</string>
                <key>textureRect</key>
                <string>{{135,1816},{72,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Stone_lable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,64}</string>
                <key>spriteSourceSize</key>
                <string>{195,64}</string>
                <key>textureRect</key>
                <string>{{247,1734},{195,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_download.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,131}</string>
                <key>spriteSourceSize</key>
                <string>{322,131}</string>
                <key>textureRect</key>
                <string>{{1,1049},{322,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_edging_ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,445}</string>
                <key>spriteSourceSize</key>
                <string>{250,445}</string>
                <key>textureRect</key>
                <string>{{1,545},{250,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_edging_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,445}</string>
                <key>spriteSourceSize</key>
                <string>{250,445}</string>
                <key>textureRect</key>
                <string>{{1,797},{250,445}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_fail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{462,492}</string>
                <key>spriteSourceSize</key>
                <string>{466,514}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_finger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,183}</string>
                <key>spriteSourceSize</key>
                <string>{185,183}</string>
                <key>textureRect</key>
                <string>{{135,1182},{185,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_shadow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,82}</string>
                <key>spriteSourceSize</key>
                <string>{124,84}</string>
                <key>textureRect</key>
                <string>{{1,1182},{118,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_thermometer_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,471}</string>
                <key>spriteSourceSize</key>
                <string>{78,471}</string>
                <key>textureRect</key>
                <string>{{1,465},{78,471}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_thermometer_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,465}</string>
                <key>spriteSourceSize</key>
                <string>{22,465}</string>
                <key>textureRect</key>
                <string>{{474,465},{22,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_thermometer_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,110}</string>
                <key>spriteSourceSize</key>
                <string>{109,110}</string>
                <key>textureRect</key>
                <string>{{135,1631},{109,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_thermometer_edge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,584}</string>
                <key>spriteSourceSize</key>
                <string>{132,584}</string>
                <key>textureRect</key>
                <string>{{1,1275},{132,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_touch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{135,1742},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_touch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,231}</string>
                <key>spriteSourceSize</key>
                <string>{231,231}</string>
                <key>textureRect</key>
                <string>{{257,1501},{231,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_1.png</string>
            <key>size</key>
            <string>{497,1881}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ea648aaa990365e86a724a1db3c7528:181addedbc969b4b9b414830a4a9ba55:d0f7fc8d63af3804d5a2f038f6f5a28a$</string>
            <key>textureFileName</key>
            <string>UI_1.png</string>
        </dict>
    </dict>
</plist>
